<!DOCTYPE html>
<html>
  <head>
    <title>Rails example: Books</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <%= link_to 'Rails example: Books', root_path, class: 'navbar-item has-text-weight-bold' %>
      </div>
    </nav>
    <p style="color: green"><%= notice %></p>
    <%= yield %>
  </body>
</html>
